.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur à ajuster selon l'utilisation */
}

.loader {
    border: 5px solid #f3f3f3; /* Couleur de fond du loader */
    border-top: 5px solid #3498db; /* Couleur du loader */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
